{% extends 'master'%}


{% block content %}

 
<form action="/stripe" method="POST">
{{ csrfField }}
<script
  src="https://checkout.stripe.com/checkout.js" class="stripe-button"
  data-key="pk_test_2jkSNKqrupbkeKC9X4BkZZKC"
  data-amount="2000"
  data-name="Demo Site"
  data-description="2 widgets"
  data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
  data-locale="auto"
  data-zip-code="true"
  data-currency="eur">
</script>
</form>

{% endblock %}

