{% extends 'master' %}

{% block styles %}
{{super()}}
<style>
body {
    //background: url(/assets/01.png);
    //background-color: #f9f9f9;
    color: #ffffff;
}
</style>

{% endblock %}

{% block content %}
    {{ form.open({action: 'RegisterController.doRegister'}) }}

    {{ csrfField }}

    <fieldset class="form-group">
      {{ form.label('Username') }}
      {{ form.text('name', null, { class: 'form-control' }) }}
    </fieldset>

    <fieldset class="form-group">
      {{ form.label('Email') }}
      {{ form.email('email', null, { class: 'form-control' }) }}
    </fieldset>
    
    <fieldset class="form-group">
      {{ form.label('Password') }}
      {{ form.password('password', null, { class: 'form-control' }) }}
    </fieldset>
 
  
    {{ form.submit('Publish', 'publish', { class: 'btn btn-primary btn-block btn-rose' }) }}
{{ form.close()}}

{% endblock %}