{% extends 'master' %}
{% block styles %}
{{super()}}
<style>
body {
    //background: url(/assets/01.png);
    background-color: {% for item in color %}{% if loop.last %}{{item.rgba}}{% endif %}{% endfor %};
    color: #ffffff;
}
</style>

{% endblock %}
{% block content %}

    <section style="   background: rgba(255, 255, 255, 0.43);
    margin: 0;
    padding-bottom: 100px;" id="product-det">
        
        <div class="container-fluid">
            <ul class=" text-right">
                <li><a href="#" class="edit btn  btn-round" id="trigger-overlay">Create Category</a></li>
                <li> <a href="#" class=" edit btn btn-round" id="trigger-overlay2" style="    top: 5em;
    right: 42px;">Create Product</a></li>
            </ul>
       

          
        <div class="button-group filters-button-group">
                <button class="btn btn-raised is-checked active btn-rose" data-filter="*">show all</button>
         
               
              
                   {% for cat in categories %}
          
                   <button class="btn btn-raised" data-filter=".{{cat.id}}">{{cat.title}}</button>
                  {% endfor %}
              
            </div>
           
         </div> 
    </section>
    
    <section id="product-det">
   <div class="container-fluid">
	<div class="grid js-masonry">
   
     {% for cat in categories %}
		{% for product in cat.products %}
		
        {% set var = [3, 2, 4] %}
            {% if product.images[0] == null %}
            
                    <a href="/backend/products/{{product.id}}">
                     <div class="grid-item grid-item--width{{var |random}} {{cat.id}}" style="background: url(http://ipsumimage.appspot.com/cga); background-size: cover;">
                        
                        <i class="fa fa-circle-o-notch fa-{{var |random}}x" aria-hidden="true"></i>
                         <h6 class="product-price">{{product.price}}€</h6>
                     </div>
                     </a>
                     {% else %}
                      
                     <a href="/backend/products/{{product.id}}">

                <div class="grid-item grid-item--width{{var |random}} {{cat.id}}" style="background: url(/uploads/{{product.images[0].src}}); background-size: cover;">
                   
                    <i class="fa fa-circle-o-notch fa-{{var |random}}x" aria-hidden="true"></i>
                     <h6 class="product-price">{{product.price}}€</h6>
                </div>
                     </a>

			{% endif %}
		{% endfor %}
        {% endfor %}  
        </div>
	</div>
    </section>

{% include 'Category.create' %}
{% include 'product.createModal' %}
{% endblock %}

{% block scripts %}
{{super()}}
<script src="https://unpkg.com/masonry-layout@4.1/dist/masonry.pkgd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.2/isotope.pkgd.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-infinitescroll/2.1.0/jquery.infinitescroll.js"></script>
<script>
$('.grid').isotope({
  // options
  itemSelector: '.grid-item',
  layoutMode: 'fitRows'
});
// bind filter button click
$('.filters-button-group').on( 'click', 'button', function() {
  var filterValue = $( this ).attr('data-filter');
  // use filterFn if matches value
 $('.grid').isotope({ filter: filterValue });
});
// change is-checked class on buttons
$('.button-group').each( function( i, buttonGroup ) {
  var $buttonGroup = $( buttonGroup );
  $buttonGroup.on( 'click', 'button', function() {
    $buttonGroup.find('.is-checked').removeClass('is-checked');
    $( this ).addClass('is-checked');
  });
});
</script>

{% endblock %}