{% extends 'master' %}
{% set Product = use('App/Model/Product') %}

{% block content %}

	<div class="grid js-masonry">

		{% for product in products %}
		{% yield productImage = Product.find(product.id) %}
		{% yield image = productImage.images().first() %}
        {% set var = [3, 2, 4] %}
            {% if image == null %}
                    <a href="/products/{{product.id}}">
                     <div class="grid-item grid-item--width{{var |random}}" style="background: url(http://ipsumimage.appspot.com/cga); background-size: cover;">
                        <i class="fa fa-circle-o-notch fa-{{var |random}}x" aria-hidden="true"></i>
                         <h6 class="product-price">{{product.price}}€</h6>
                     </div>
                     </a>
                    {% else %}
                    <a href="/products/{{product.id}}">
                <div class="grid-item grid-item--width{{var |random}}" style="background: url(/uploads/{{image.src}}); background-size: cover;">
                    <i class="fa fa-circle-o-notch fa-{{var |random}}x" aria-hidden="true"></i>
                     <h6 class="product-price">{{product.price}}€</h6>
                </div>
                     </a>
         
			{% endif %}
		{% endfor %}
	</div>

{% endblock %}

{% block scripts %}
{{super()}}
<script src="https://unpkg.com/masonry-layout@4.1/dist/masonry.pkgd.min.js"></script>
<script src="https://unpkg.com/isotope-layout@3.0/dist/isotope.pkgd.js"></script>
<script>
$('.grid').isotope({
  // options
  itemSelector: '.grid-item',
  layoutMode: 'fitRows'
});
</script>

{% endblock %}