

{% set user = currentUser %}
{% if user %}
{% yield profile = user.profile().fetch() %}
{% endif %}


<div id="wrapper">

    <div id="sidebar-wrapper">
            <ul class="sidebar-nav"  id="menu" style="margin-left:0;">
                <li class="sidebar-brand">
                  
                        <a href="#menu-toggle"  id="menu-toggle" > <i class="fa fa-bars " style="font-size:20px !Important;" aria-hidden="true" aria-hidden="true"></i> 
                    
                </li>
                {% if not user %}
                        <li><a href="/login.html"><i class="fa fa-sign-in"></i><span style="margin-left:10px;">Login</span></a></li>
                        <li><a href="/register.html"><i class="fa fa-user"></i><span style="margin-left:10px;">Register</span></a></li>
                        
                    {% elif user %}
                       <li>
                       
                            <span><img src="/uploads/{{profile.avatar}}" id="avatar"></span>

                        </li>    
                          <li><a href="/backend/dashboard/{{currentUser.id}}.html"><i class="fa fa-user"></i><span style="margin-left:10px;">Profile</span></a> </li>
                                <li><a href="/logout.html"><i class="fa fa-btn fa-sign-out"></i><span style="margin-left:10px;">Logout</span></a></li>
                           
                                <li>
                            <a href="/backend/shop"> <i class="fa fa-shopping-cart " aria-hidden="true"> </i> <span style="margin-left:10px;"> Shop</span> </a>
                        </li>
                        {% if user.id === 1 %}
                        <li>
                            <a href="/backend/users.html"> <i class="fa fa-puzzle-piece" aria-hidden="true"> </i> <span style="margin-left:10px;"> Client List</span> </a>
                        </li>
                        {% endif %}
                        <li>
                            <a href="/backend/posts.html"> <i class="fa fa-font" aria-hidden="true"> </i> <span style="margin-left:10px;"> Blog </span> </a>
                        </li>
                        <li>
                        <a href="#" id="trigger-overlay-color"><i class="fa fa-puzzle-piece" aria-hidden="true"> </i> <span style="margin-left:10px;"> Color Setup</span> </a>
                        </li>
                                    
                    {% endif %}
                
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->