{% extends 'master' %}
{% set Product = use('App/Model/Product') %}
{% block content %}
<div class="slider">
{% if currentUser %}


{% endif %}  
</div>
{% endblock %}
{% block scripts %}
{{super()}}

<script>
	
    $("body").vegas({
    slides: [

      
        { src: "/assets/tom.jpg" }
    ],
     overlay: '/assets/02.png'
});
    </script>
  
{% endblock %}