
{% extends 'master' %}
{% block styles %}
{{super()}}
<style>
body {
    //background: url(/assets/01.png);
    //background-color: #f9f9f9;
    color: #ffffff;
}
</style>

{% endblock %}
{% block content %}


    
    <table class="table table-striped table-hover ">
            <thead>
            <tr>
              <th>#</th>
              <th>NAME</th>
              <th>AVATAR</th>
              <th>ADDRESS</th>
              <th>SHOW PROFILE</th>
            </tr>
            </thead>
            <tbody>
        {% for user in users %}
            {% if user.profile == null %}

            {% else %}
           
            <tr>
              <td>{{user.id}}</td>
              <td>{{user.username}}</td>
              <td><a href="/dashboard/{{user.id}}"><img src="/uploads/{{user.profile.avatar}}" class="img-responsive" id="avatar"></a></td>
              <td>{{user.profile.address}}</td>
              <td><a href="/backend/dashboard/{{user.id}}.html">SHOW PROFILE</a></td>
            </tr>
            <tr>
          {% endif %}  
          {% endfor %}    
            </tbody>
          </table>
    




{% endblock %}

