{% extends 'master' %}
{% block styles %}
{{super()}}
<style>
body {
    //background: url(/assets/01.png);
    background-color: {% for item in color %}{% if loop.last %}{{item.rgba}}{% endif %}{% endfor %};
    color: #ffffff;
}
</style>

{% endblock %}
{% block content %}

<div class="col-md-12">

                <!-- Blog Post -->
               
                <div class="togglebutton text-right">
                    <label>
                        STATUS
                    
                        <input type="checkbox" checked="true"><span class="toggle"></span>
                    </label>
                 </div>
                <div class="container">
                <!-- Title -->
                <h1>{{post.title}}</h1>

        
                <hr>

                <!-- Date/Time -->
                <p><span class="glyphicon glyphicon-time"></span>   {{moment(post.updated_at)}}</p>

                <hr>
                {% if oembed != null %}
                <div class="embed-responsive embed-responsive-16by9">
                    {{oembed| safe}}
                </div>
                {% else %}
                <!-- Preview Image -->
                <img class="img-responsive" src="http://placehold.it/900x300" alt=""> <!-- oembed -->
                {% endif %}
                <hr>

                <!-- Post Content -->
                <p class="lead">{{post.content}} </p>
                <hr>
                </div>
 <!-- DISQUS HERE -->




            </div>

{% endblock %}