
        
           
               


<div class="overlay2 overlay-scale" 
                                        {% set backgroundImage = productImages[0].images %}
                                    
style="background:url(/uploads/{{backgroundImage[0].src}}); background-size:cover;background-color:grey;">



    <button type="button" class="overlay-close2">Close</button>
    <div class="container" style="top: 6em;
        position: relative;">
        {{ form.open({ action: 'ImageController.store', params: {id: product.id}, files:true }) }}

            {{ csrfField }}


            <div class="fileinput fileinput-new" data-provides="fileinput">
        <div class="fileinput-new thumbnail" style="width: 600px; height: 450px;">
            <img data-src="holder.js/100%x100%" alt="">
        </div>
        <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 600px; max-height: 450px;"></div>
        <div>
            <span class="btn btn-default btn-file"><span class="fileinput-new">Select image</span><span class="fileinput-exists">Change</span><input type="file" name="imagem"></span>
            <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
        </div>
        </div>
            
            {{ form.submit('Publish', 'publish', { class: 'btn btn-primary btn-block btn-rose' }) }}
        {{ form.close()}}
      </div>
  </div>    