{% extends 'master' %}
{% set Product = use('App/Model/Product') %}
{% set Image = use('App/Model/Image') %}
{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/css/swiper.css" />
    <style>
    body {
        background: #fff;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        color:#000;
        margin: 0;
        padding: 0;
    }
    .swiper-container {
        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 300px;
        height: 300px;
    }
    </style>
{% endblock %}
{% block content %}

{% yield productImage = Product.find(product.id) %}

{% yield image = productImage.images().first() %}
<div class="row text-left">
<div class="col-md-5">
    <a href="" onclick="goBack()"><i class="fa fa-eercast fa-3x" aria-hidden="true"></i>BACK</a>
    <a href="#" data-toggle="modal" data-target="#shopModal">ADD PHOTO</a>


    {% for image in images %}
    <a href="/images/{{image.id}}/delete">DELETE PHOTO {{image.id}}</a>
    {% endfor %}
 </div>   

                        <div class="col-md-2 col-md-offset-5">
                            <button class="btn btn-rose btn-round">Cart &nbsp;<i class="material-icons">shopping_cart</i></button>
                        </div>

</div>
<div class="main main-raised main-product" style="top: 4em;background: rgba(255, 255, 255, 0.36);">
                
                <div class="row">
                    
                    <div class="col-md-6 col-sm-6 col-md-offset-6" style="background-color:#8a8a8a; color:#FFF;">
						<h2 class="title" style="color:#FFF;"> {{product.title}}</h2>
						<h3 class="main-price">${{product.price}}</h3> {# get currency filter #}
						<div id="acordeon">
                            <div class="panel-group" id="accordion">
                          <div class="panel panel-border panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="collapsed">
                                    <h4 class="panel-title">
                                    Description
                                    <i class="material-icons">keyboard_arrow_down</i>
                                    </h4>
                                </a>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                              <div class="panel-body">
                                <p>{{product.description}}</p>
                              </div>
                            </div>
                          </div>
                          <div class="panel panel-border panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-controls="collapseOne" class="collapsed" aria-expanded="false">
                                    <h4 class="panel-title">
                                    Designer Information
                                    <i class="material-icons">keyboard_arrow_down</i>
                                    </h4>
                                </a>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse" aria-expanded="false">
                              <div class="panel-body">
                                An infusion of West Coast cool and New York attitude, Rebecca Minkoff is synonymous with It girl style. Minkoff burst on the fashion scene with her best-selling 'Morning After Bag' and later expanded her offering with the Rebecca Minkoff Collection - a range of luxe city staples with a "downtown romantic" theme.
                              </div>
                            </div>
                          </div>
                          <div class="panel panel-border panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-controls="collapseOne" class="collapsed" aria-expanded="false">
                                    <h4 class="panel-title">
                                    Details and Care
                                    <i class="material-icons">keyboard_arrow_down</i>
                                    </h4>
                                </a>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse" aria-expanded="false">
                              <div class="panel-body">
                                <ul>
                                     <li>Storm and midnight-blue stretch cotton-blend</li>
                                     <li>Notch lapels, functioning buttoned cuffs, two front flap pockets, single vent, internal pocket</li>
                                     <li>Two button fastening</li>
                                     <li>84% cotton, 14% nylon, 2% elastane</li>
                                     <li>Dry clean</li>
                                </ul>
                              </div>
                            </div>
                          </div>

                        </div>
                        </div><!--  end acordeon -->

			            <div class="row pick-size">
                            <div class="col-md-6 col-sm-6">
                                <label>Select color</label>
                                 <div class="form-group"><select class="select form-control" data-dropdownjs="true" style="display: none;">
                                        <option value="1" class="selected">Rose </option>
                                        <option value="2">Gray</option>
										<option value="3">White</option>
                                </select><div class="dropdownjs"><input type="text" readonly="" class="fakeinput select form-control"><ul><li value="1" selected="selected" class="selected" tabindex="-1">Rose </li><li value="2" tabindex="-1">Gray</li><li value="3" tabindex="-1">White</li></ul></div><span class="material-input"></span></div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <label>Select size</label>
                                 <div class="form-group"><select class="select form-control" data-dropdownjs="true" style="display: none;">
                                        <option value="1" class="selected">Small </option>
                                        <option value="2">Medium</option>
                                        <option value="3">Large</option>
                                </select><div class="dropdownjs"><input type="text" readonly="" class="fakeinput select form-control"><ul><li value="1" selected="selected" class="selected" tabindex="-1">Small </li><li value="2" tabindex="-1">Medium</li><li value="3" tabindex="-1">Large</li></ul></div><span class="material-input"></span></div>
                            </div>
                        </div>
                        <div class="row text-right">
                            <button class="btn btn-rose btn-round">Add to Cart &nbsp;<i class="material-icons">shopping_cart</i></button>
                        </div>
                    </div>
                </div>
            </div>
<div class="space"></div>
<div class="row">
<div class="swiper-container">
        <div class="swiper-wrapper">
        
        {% asyncAll  product in productIs %}
        
            
               
                 
                    {% yield p = Product.find(product.id) %}
                    {% yield pimage = p.images().first() %}
                   
            <a href="/products/{{product.id}}" class="swiper-slide" style="background-image:url(/uploads/{{pimage.src}})"></a>
                  
              
        {% endall %}
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div>
</div>
{% include 'product.modal' %}
{% endblock %}

{% block scripts %}
{{super()}}
<script>
	
    $("body").vegas({
    slides: [
      {% for image in images %}
        { src: "/uploads/{{image.src}}" },
      {% endfor %}
    ],
     overlay: 'assets/02.png'
});
    </script>

	<script src="/material.min.js"></script>

	<!--	Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
	<script src="/nouislider.min.js" type="text/javascript"></script>

	<!--	Plugin for the Datepicker, full documentation here: http://www.eyecon.ro/bootstrap-datepicker/ -->
	<script src="/bootstrap-datepicker.js" type="text/javascript"></script>

	<!--	Plugin for Select Form control, full documentation here: https://github.com/FezVrasta/dropdown.js -->
	<script src="/jquery.dropdown.js" type="text/javascript"></script>

	<!--	Plugin for Tags, full documentation here: http://xoxco.com/projects/code/tagsinput/  -->
	<script src="/jquery.tagsinput.js"></script>

	<!--	Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
	<script src="/jasny-bootstrap.min.js"></script>

	<!--	Plugin for Product Gallery, full documentation here: https://9bitstudios.github.io/flexisel/ -->
	<script src="/jquery.flexisel.js"></script>



	<!-- Control Center for Material Kit: activating the ripples, parallax effects, scripts from the example pages etc -->
	<script src="/material-kit.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/js/swiper.js"></script>
    <script type="text/javascript">

    $(window).load(function() {
        $("#flexiselDemo1").flexisel({
            enableResponsiveBreakpoints: true,
            responsiveBreakpoints: {
                portrait: {
                    changePoint:480,
                    visibleItems: 3
                },
                landscape: {
                    changePoint:640,
                    visibleItems: 3
                },
                tablet: {
                    changePoint:768,
                    visibleItems: 3
                }
            }
          });
    });
   </script>
   <script>
function goBack() {
    window.history.back();
}

    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        effect: 'coverflow',
        grabCursor: true,
        centeredSlides: true,
        preventClicksPropagation:false,
        slidesPerView: 'auto',
        loop:false,
        coverflow: {
            rotate: 50,
            stretch: 0,
            depth: 100,
            modifier: 1,
            slideShadows : true
        }
    });
    </script>
{% endblock %}