<div class="overlay3 overlay-scale">
<button type="button" class="overlay-close3">Close</button>
<div class="container" style="padding-top: 20em;">
{{ form.open({action: 'WishlistController.store', params:{id:product.id} }) }}

    {{ csrfField }}

    <fieldset class="form-group">
      {{ form.label('Wishlist Title') }}
      {{ form.text('title', null, { class: 'form-control' }) }}
    </fieldset>

    <fieldset class="form-group">
      {{ form.label('Description') }}
      {{ form.textarea('description', null, { class: 'form-control' }) }}
    </fieldset>
    {{ form.submit('Publish', 'publish', { class: 'btn btn-primary btn-block btn-rose' }) }}
{{ form.close()}}
    </div>
</div>